*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
build

dist/
MANIFEST
doc/_build/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
*.pdf
pip-log.txt
skfusion/version.py

*.nt.bz2
*.tar.gz
*.tgz

*.prefs
.pydevproject
.idea
*.egg-info

internal/
