*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
build
sklearn/datasets/__config__.py
sklearn/**/*.html

dist/
MANIFEST
doc/_build/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
*.pdf
pip-log.txt
scikit_learn.egg-info/

*.nt.bz2
*.tar.gz
*.tgz

*.prefs
.pydevproject
.idea
*.egg-info

internal/
